 /* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 
 @font-face{
    font-family: 'fancy';
    src: url('./Beyond\ Wonderland.ttf');
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-family:'Josefin Sans', sans-serif; ; /* Margin bottom by footer height */
}

.navbar-brand{
    margin-left: auto;
    margin-right: auto;
}

.search{
    border-radius: 0%;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
}
.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}
.card-title{
    letter-spacing: 5px;
    font-family: fancy;
    font-size: 2rem;

}

.list-group-item{
    border: none;
}
.grey{
    background-color: rgba(179, 176, 176, 0.699) ! important;
}
.rounded{
    opacity: 0.6;
}
span{
    padding: 10px;
}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .search{
        border-radius: 0%;
        margin-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .search-button{
        margin-left: 5rem;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .search{
        margin-left: 5% ;
        margin-top: 10%;
        margin-right: 5% ;
    }
    .search-button{
        margin-left: 12rem;
    }
    .result{
        margin-left: 5rem;
        margin-right: 5rem;
    }

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .search{
        margin-top: 10%;
        margin-left: 10% ;
        margin-right: 10% ;
    } 
    .search-button{
        margin-left: 14rem;
    }
    .result{
        margin-left: 5rem;
        margin-left: 5rem;

    }

 }

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .search{
        margin-left: 20% ;
        margin-right: 20% ;
        margin-top: 10%;
    } 
    .search-button{
        margin-left: 12rem;
    }
    .result{
        margin-left: 5rem;
        margin-left: 5rem;
    }

 }